body {background-color: black;}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.choice1{
	margin-left: 400px;
}
.choice2{
	margin-left: 150px;
}
.button {
	display: block;
	background-color: black;
	color: white;
	cursor: pointer;
	font-size: 50px;
	border: solid;
	border-color: white;
}
label {
	color:white;
	font-family: Arial;
	font-size: 30px;
}
a {
	text-decoration:none;
}
.button:hover{
	     background: #FF8C00;
	 }
